//- mixin에 인자가 입력되면 객체의 이름은 video가 된다.
mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls=true)
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{video.views} views